*, html, body{
    padding: 0;
    margin: 0;
}

body{
    height: 100vh;
}

@font-face {
    font-family: Digital;
    src: url("fonts/digital-7\ \(mono\).ttf");
}

sup{
    vertical-align: super;
    line-height: 0;
}

.container{
    height: 100vh;
    display: grid;
}

.calculator{
    padding: 15px 0;
    width: 440px;
    margin: auto;

    border-radius: 10px;
    background-color: #328a77;
}

.input{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    justify-content: center;
}

.display{
    grid-row: 1;
    grid-column: 1 / span 2;
    padding: 5px 10px;
    margin-bottom: 10px;
    background-color: #fff;
    color: #000;
}

.display #input{
    text-align: left;
    height: 30px;
    line-height: 30px;
    
    font-size: 20px;
    font-family: Digital, 'Courier New', Courier, monospace;
}

#input sup{
    font-size: 14px;
}

.display #total{
    text-align: right;
    height: 35px;
    line-height: 35px;
    font-size: 30px;
    font-family: Digital, 'Courier New', Courier, monospace;
}

button{
    margin: 1px 1px;
    border: 0;
    color: #fff;
    width: 80px;
    height: 50px;
    font-size: 30px;
}

.operation, #equals {
	box-shadow: inset 0px 1px 0px 0px #727272;
	background: linear-gradient(to bottom, #5a5a5a 5%, #262626 100%);
	background-color: #5a5a5a;
	border-radius: 6px;
	border: 1px solid #2e2e2e;
	text-shadow:0px 1px 0px #161616;
}

.operation:hover, #equals:hover {
	background:linear-gradient(to bottom, #262626 5%, #5a5a5a 100%);
	background-color:#262626;
}

button:active {
	position:relative;
	top:1px;
}

.top{
    grid-area: 2 / 1 ;
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;    
    align-items: center;
}

.opgroup{
    grid-row: 2 / span 2;
    display: inline-grid;
    grid-template-columns: auto auto;
    justify-items: center;
    align-items: center;
}

.numbgroup{
    grid-area: 3 / 1;
    display: inline-grid;
    grid-template-columns: auto auto auto;
    justify-items: center;
    align-items: center;
}

.numbers {
	box-shadow: inset 0px 1px 0px 0px #727272;
	background: linear-gradient(to bottom, #8b8b8b 5%, #5c5c5c 100%);
	background-color:#3a3a3a;
	border-radius: 6px;
	border: 1px solid #616161;
	text-shadow:0px 1px 0px #4d4d4d;
}

.numbers:hover {
	background:linear-gradient(to bottom, #5c5c5c 5%, #8b8b8b 100%);
	background-color:#5c5c5c;
}

#mult{
    grid-area: 2 / 1 / span 1 / span 1;
}

#sub{
    grid-area: 3 / 1 / span 1 / span 1;
}

#add{
    grid-row: 4 / span 2;
    height: 102px; 
}

#inverse{
    grid-area: 1 / 2 / span 1 / span 1;
}

#inv sup{
    font-size: 14px;
}

#pow{
    grid-area: 2 / 2 / span 1 / span 1;
}

#sqrt{
    grid-area: 3 / 2 / span 1 / span 1;
}

#fact{
    grid-area: 4 / 2 / span 1 / span 1;
}

#ANS{
    grid-area: 5 / 2 / span 1  / span 1;
}

.clear{
	box-shadow: inset 0px 1px 0px 0px #d84e2f;
	background: linear-gradient(to bottom, #bd4125 5%, #8d2e19 100%);
	background-color: #bd4125;
	border-radius: 6px;
	border: 1px solid #97331c;
	text-shadow:0px 1px 0px #5f1f11;
}

.clear:hover{
	background:linear-gradient(to bottom, #8d2e19 5%, #bd4125 100%);
	background-color:#8d2e19;
}